body{
    height: 100vh;
    padding: 0;
    margin: 0;
    background-image: url(../img/bg.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    user-select: none;
}
.main-title{
    font-size: 60px;
    color: #fff;
    text-shadow: -4px 0 #000, 0 4px #000, 1px 0 #000, 0 -1px #000;
    text-transform: uppercase;
}
.main-box{
    font-size: 20px;
    display: flex;
    flex-direction: row;
    background-color: rgba(255,255,255,0.5);
    padding: 30px;
    border: solid 3px #fff;
    border-radius: 15px;
    width: 80%;
    .canvas{
        padding-left: 0;
        padding-right: 0;
        margin-left: auto;
        margin-right: auto;
        display: block;
        width: 800px;
        cursor: url(../img/sight.png) 40 40, auto;
    }
    .control-panel{
        width: 300px;
        box-sizing: border-box;
        text-align: right;
        margin-right: 50px;
        margin-top:50px;
        &__box{
            margin:30px 0;
        }
        &__cash{
            font-size: 30px;
        }
        &__heart{
            margin-top:30px;
            font-size: 30px;
            animation: bounding 2s infinite;
        }
    }
    .legend{
        width:300px;
        box-sizing: border-box;
        margin-left: 50px;
        margin-top:50px;
        &__title{
            margin:0;
        }
        &__box{
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }
    }
}
#game-box{
    border: solid 1px #000;
     background: linear-gradient(#267fc4 30%, #2283ba);
      overflow: hidden;
}


@keyframes bounding{
    0% {transform: scale(.9);}
    50% {
        transform: scale(1.3);
        color: red;
    }
    100% {transform: scale(.9);}
}