body{
    height: 100vh;
    padding: 0;
    margin: 0;
    background-image: url(../img/bg.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    user-select: none;
}
.main-title{
    font-size: 60px;
    margin: 15px 0;
    color: #fff;
    text-shadow: -4px 0 #000, 0 4px #000, 1px 0 #000, 0 -1px #000;
    text-transform: uppercase;
}
.main-box{
    font-size: 20px;
    display: flex;
    flex-direction: row;
    background-color: rgba(255,255,255,0.5);
    padding: 30px;
    border: solid 3px #fff;
    border-radius: 15px;
    .control-panel{
        box-sizing: border-box;
        text-align: right;
        margin-right: 50px;
        margin-top:50px;
        &__box{
            margin:30px 0;
        }
        &__cash{
            font-size: 30px;
        }
        &__heart{
            margin-top:30px;
            font-size: 30px;
            animation: pounding 2s infinite;
        }
        &__ammo-icon{
            width: 32px;
            height: 32px;
        }
        &__ammo-icon--shoot{animation: shoot 1s;}
        &__ammo-icon--out{fill:#ff0000;}
    }
    .legend{
        box-sizing: border-box;
        margin-left: 50px;
        margin-top:50px;
        &__title{
            margin:0;
        }
        &__box{
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }
    }
    .btn-start-game{
        position: absolute;
        width: 300px;
        height: 100px;
        margin: auto;
        top: 0; left: 0; bottom: 0; right: 0;
    }
}
#game-box{
    border: solid 1px #000;
    background: url(../img/sky2.jpeg);
    background-size: 105% 100%;
    background-repeat: no-repeat;
    overflow: hidden;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    cursor: url(../img/sight.png) 40 40, auto;
    }


@keyframes pounding{
    0% {transform: scale(.9);}
    50% {
        transform: scale(1.3);
        color: red;
    }
    100% {transform: scale(.9);}
}
@keyframes shoot{
    0%{transform: scale(0.8);}
    40%{transform: scale(1.2);}
    60%{transform: scale(1);}
    85%{opacity: 1;}
    100%{
        transform: translateY(-500px);
        opacity: 0;
    }
    
}